.form {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form textarea {
    background: var(--gray-500);
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
    resize: none;

    font-size: 1rem;
    font-weight: 400;
    
    width: 39.875rem;
    height: 3.375rem;
}


.form button {
    width: 5.625rem;
    height: 3.25rem;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 0.5rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    display: flex;
    align-items: center;
    transition: background-color 0.1s;
    

}

.buttonText {
    padding: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    }
    
    .form button:hover {
        background: var(--blue);
        cursor: pointer;
    }