
.form {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form textarea {
    background: var(--gray-500);
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
    resize: none;

    font-size: 1rem;
    font-weight: 400;
    
    width: 39.875rem;
    height: 3.375rem;
}


.form button {
    width: 5.625rem;
    height: 3.25rem;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 0.5rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    display: flex;
    align-items: center;
    transition: background-color 0.1s;
    

}

.buttonText {
    padding: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    }
    
    .form button:hover {
        background: var(--blue);
        cursor: pointer;
    }



.tasksListWrapper {
    position: relative;
    
    top: 3.375rem;
    display: flex;
  flex-direction: column;
  align-items: center;
}

.tasksCreated {
    width: 46rem;
    height: 1.187rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
   
}
.header div {
    display: flex;
}

.counter{
width: 5rem;
height: 5rem;
border-radius: 999px;
background: var(--gray-400);
color: var(--gray-200);
padding: 8 ;
}

.created {
    color: var(--blue);
}

.done {
   color: var(--purple);
}
.empty {
    position: absolute;
    top:  calc(1.187rem + 1.5rem);
    left: 50%;
    transform: translate(-50%);
    
    width: 46rem;
    height: 15.25rem;
    color: var(--gray-300);
    border-radius: 8px;
    padding: 1.5rem, 4rem;

    border-top: 2px solid var(--gray-400);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   }

.clipboard {
    height: 3.5rem;
    width: 3.5rem;
   
}

.empty p strong {
    font-weight: 700;
}
 


.taskOnTheList {
    
   margin-top:  calc(1.187rem + 3rem);
    left: 50%;

    width: 46rem;
    height: 4.5rem;
    padding: 1rem;
    border-radius: 8px;
    
    background: var(--gray-500);
    border: 1px solid var(--gray-400);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: var(--gray-100);
}

.taskOnTheList + .taskOnTheList {
    margin-top: 0.75rem 
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--blue);
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    transition: 0.1s;
  }

  .checkbox:hover{
    border: 2px solid var(--blue-dark);
  }

  .checkbox:checked {
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
  }

  .checkbox:checked::after {
        content: "\2713";
        color: var(--gray-100);
        display: inline-block;
        margin-left: 5px;
  }
  
  .checkbox:checked:hover {
    background-color: var(--purple);
    border: 2px solid var(--purple);

  }
  
  .trashButton {
    background: transparent;
    border: 0;
    border-radius: 20%;
    color: var(--gray-300);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.1s;

} 

.trashButton:hover {
    background: var(--gray-400);
    color: var(--danger);
    
}

.checkbox:checked ~ .text {
    color: var(--gray-300);
    text-decoration: line-through;
}


  