.tasks {
    position: relative;
    height: 17.93rem;
    top: 3.375rem;
}

.header {
    width: 46rem;
    height: 1.187rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
   
}
.header div {
    display: flex;
}

.created {
    color: var(--blue);
}

.done {
   color: var(--purple);
}
.empty {
    position: absolute;
    top:  calc(1.187rem + 1.5rem);
    left: 50%;
    transform: translate(-50%);
    
    width: 46rem;
    height: 15.25rem;
    color: var(--gray-300);
    border-radius: 8px;
    padding: 1.5rem, 4rem;

    border-top: 2px solid var(--gray-400);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   }

.clipboard {
    height: 3.5rem;
    width: 3.5rem;
   
}

.empty p strong {
    font-weight: 700;
}


